# Created by .ignore support plugin (hsz.mobi)
/.idea/

/flask-microservices-users/project/include/
/flask-microservices-users/project/bin/
/flask-microservices-users/project/lib/
/flask-microservices-users/project/__pycache__/
/flask-microservices-users/project/api/__pycache__/
/flask-microservices-users/project/tests/__pycache__/
/flask-microservices-users/migrations/__pycache__/
/flask-microservices-users/migrations/versions/__pycache__/
/flask-microservices-users/htmlcov/
/flask-microservices-main/node_modules/
