# Created by .ignore support plugin (hsz.mobi)
/.idea/

/flask-microservices-users/project/include/
/flask-microservices-users/project/bin/
/flask-microservices-users/project/lib/
flask-microservices-users/project/__pycache__/
